<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- NULL 입력을 위한 세팅 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- member package -->
		<typeAlias type="com.ktx.ddep.dto.member.Address" alias="Address"/>
		<typeAlias type="com.ktx.ddep.dto.member.Member" alias="Member"/>
		<typeAlias type="com.ktx.ddep.dto.member.MemberRole" alias="MemberRole" />
		<typeAlias type="com.ktx.ddep.dto.member.Payment" alias="Payment"/>
		<typeAlias type="com.ktx.ddep.dto.member.Point" alias="Point"/>
		<typeAlias type="com.ktx.ddep.dto.member.Question" alias="Question"/>
		
		<!-- market package -->
		<typeAlias type="com.ktx.ddep.dto.market.Item" alias="Item"/>
		<typeAlias type="com.ktx.ddep.dto.market.Market" alias="Market"/>
		<typeAlias type="com.ktx.ddep.dto.market.MarketList" alias="MarketList"/>
		<typeAlias type="com.ktx.ddep.dto.market.MarketTime" alias="MarketTime"/>
		<typeAlias type="com.ktx.ddep.dto.market.Sell" alias="Sell"/>
		<typeAlias type="com.ktx.ddep.dto.market.SellImg" alias="SellImg"/>
		<typeAlias type="com.ktx.ddep.dto.market.Trade" alias="Trade"/>
		<typeAlias type="com.ktx.ddep.dto.market.TradeRV" alias="TradeRV"/>
		
		<!-- recipe package -->
		<typeAlias type="com.ktx.ddep.dto.recipe.Rcp" alias="Rcp"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RcpItem" alias="RcpItem"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RcpOpen" alias="RcpOpen"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RcpRep" alias="RcpRep"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RcpSauce" alias="RcpSauce"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RcpStep" alias="RcpStep"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RvRep" alias="RvRep"/>
		<typeAlias type="com.ktx.ddep.dto.recipe.RcpRv" alias="RcpRv"/>
		
		<typeAlias type="com.ktx.ddep.dto.PageVO" alias="PageVO"/>
		
	</typeAliases>

</configuration>


