<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- NULL 입력을 위한 세팅 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.ktx.ddep.vo.MarketTime" alias="MarketTime"/>
		<typeAlias type="com.ktx.ddep.vo.Payment" alias="Payment"/>
		<typeAlias type="com.ktx.ddep.vo.Point" alias="Point"/>
		<typeAlias type="com.ktx.ddep.vo.Question" alias="Question"/>
		<typeAlias type="com.ktx.ddep.vo.Trade" alias="Trade"/>
		<typeAlias type="com.ktx.ddep.vo.TradeRV" alias="TradeRV"/>
		<typeAlias type="com.ktx.ddep.vo.Rcp" alias="Rcp"/>
		<typeAlias type="com.ktx.ddep.vo.RcpItem" alias="RcpItem"/>
		<typeAlias type="com.ktx.ddep.vo.RcpOpen" alias="RcpOpen"/>
		<typeAlias type="com.ktx.ddep.vo.RcpRep" alias="RcpRep"/>
		<typeAlias type="com.ktx.ddep.vo.Member" alias="Member"/>
		<typeAlias type="com.ktx.ddep.vo.PageVO" alias="PageVO"/>
		<typeAlias type="com.ktx.ddep.vo.Point" alias="Point"/>
		<typeAlias type="com.ktx.ddep.vo.Market" alias="Market"/>
		<typeAlias type="com.ktx.ddep.vo.Address" alias="Address"/>
		<typeAlias type="com.ktx.ddep.vo.RcpRv" alias="RcpRv"/>
		<typeAlias type="com.ktx.ddep.vo.Sell" alias="Sell"/>
		<typeAlias type="com.ktx.ddep.vo.SellImg" alias="SellImg"/>
		<typeAlias type="com.ktx.ddep.vo.Item" alias="Item"/>
		<typeAlias type="com.ktx.ddep.vo.RvRep" alias="RvRep"/>
		<typeAlias type="com.ktx.ddep.vo.MarketList" alias="MarketList"/>
		<typeAlias type="com.ktx.ddep.vo.RcpSauce" alias="RcpSauce"/>
		<typeAlias type="com.ktx.ddep.vo.RcpStep" alias="RcpStep"/>
	</typeAliases>


	<!-- mapper 경로 설정 -->
<!-- 	<mappers>
		<mapper resource="/mappers/members.xml"/>
	</mappers> -->
<!--	<mappers>
		
		<mapper resource="com/ktx/ddep/mapper/markets.xml"/>
		<mapper resource="com/ktx/ddep/mapper/address.xml"/>
		<mapper resource="com/ktx/ddep/mapper/marketTimes.xml" />
		<mapper resource="com/ktx/ddep/mapper/payments.xml" />
		<mapper resource="com/ktx/ddep/mapper/points.xml" />
		<mapper resource="com/ktx/ddep/mapper/questions.xml" />
		<mapper resource="com/ktx/ddep/mapper/trades.xml" />
		<mapper resource="com/ktx/ddep/mapper/tradeRVs.xml" />
		<mapper resource="com/ktx/ddep/mapper/items.xml" />
		<mapper resource="com/ktx/ddep/mapper/sells.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcps.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcpsOpen.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcpRvs.xml" />
		<mapper resource="com/ktx/ddep/mapper/rvReps.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcpItems.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcpSteps.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcpSauce.xml" />
		<mapper resource="com/ktx/ddep/mapper/sellTimes.xml" />
		<mapper resource="com/ktx/ddep/mapper/rcpsSaved.xml" />
		<mapper resource="com/ktx/ddep/mapper/sellImgs.xml" />

	</mappers>-->

</configuration>


